name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  rust:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Clone Creusot source
        run: |
          cd ..
          git clone https://github.com/creusot-rs/creusot --single-branch --branch ptr-slice-specs

      - name: Build
        run: cargo build

  creusot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5.3.0
          opam-pin: false

      - name: Clone Creusot source
        run: |
          cd ..
          git clone https://github.com/creusot-rs/creusot --single-branch --branch ptr-slice-specs

      - name: Cache Creusot build
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            creusot/target
            ~/.local/share/creusot
          key: ${{ runner.os }}

      - name: Cache solver runs
        uses: actions/cache@v4
        with:
          path: .why3find
          key: ${{ runner.os }}

      - name: System dependencies
        run: |
          sudo apt update && sudo apt install opam libzmq3-dev
          opam init --bare
          opam --cli=2.1 var --global in-creusot-ci=true

      - name: Install Creusot
        run: |
          cd ../creusot
          ./INSTALL

      - name: Set up toolchain
        run: rustup component add rust-src --toolchain nightly-2025-11-13

      - name: Run Creusot
        run: cargo creusot prove
